<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Autorización de viaje</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="0">
<meta name="documentate-margins" content="27.5 15 22.5 30">
<meta name="documentate-first-page-margins" content="47 22.5 43 22.5">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p></p>
<p></p>
<p style="text-align:center"><strong>AUTORIZACIÓN - VIAJE</strong></p>
<p></p>
<table>
<col width="14.5%"><col width="85.5%">
<tr>
<td style="text-align:center"><strong>TÍTULO</strong></td>
<td style="text-align:center"><strong>[post_title;ope=utf8,upper]</strong></td>
</tr>
<tr>
<td style="text-align:center"><strong>LUGAR:</strong></td>
<td style="text-align:center"><strong>[lugar;ope=utf8,upper]</strong></td>
</tr>
<tr>
<td style="text-align:center"><strong>FECHA:</strong></td>
<td style="text-align:center"><strong>Del [fecha_evento_inicio] al [fecha_evento_fin]</strong></td>
</tr>
</table>
<p></p>
<p>Desde [invitante], hemos recibido invitación para asistir a [post_title], cuyo itinerario se adjunta. Tendrá lugar en [lugar], del [fecha_evento_inicio;frm='d'] de [fecha_evento_inicio;frm='mmmm (locale)'] de [fecha_evento_inicio;frm='yyyy'] al [fecha_evento_fin;frm='d'] de [fecha_evento_fin;frm='mmmm (locale)'] de [fecha_evento_fin;frm='yyyy'].</p>
<p></p>
<p>Los principales temas de este encuentro serán:</p>
<div>[temas;strconv=no]</div>
<p></p>
<p style="text-align:justify">Es por ello que se considera de sumo interés la asistencia y se solicita la autorización para acudir al mismo de las siguientes personas:</p>
<p></p>
<table>
<col width="33.4%"><col width="33.3%"><col width="33.3%">
<tr>
<td style="text-align:center"><strong>Apellido 1</strong></td>
<td style="text-align:center"><strong>Apellido 2</strong></td>
<td style="text-align:center"><strong>Nombre</strong></td>
</tr>
<tr>
<td style="text-align:center">[asistentes.apellido1;block=tr;ope=utf8,upperw]</td>
<td style="text-align:center">[asistentes.apellido2;ope=utf8,upperw]</td>
<td style="text-align:center">[asistentes.nombre;ope=utf8,upperw]</td>
</tr>
</table>
<p></p>
<p>Los gastos de desplazamiento, alojamiento y dietas serán a cargo de [pagador].</p>
<p></p>
<p>PROPONGO.</p>
<p></p>
<p style="text-align:justify"><strong>EL RESPONSABLE DEL SERVICIO DE ORDENACIÓN DE LAS ENSEÑANZAS Y EDUCACIÓN DE PERSONAS ADULTAS</strong></p>
<p style="text-align:justify">_________________________________________________________________</p>
<p></p>
<p>CONFORME CON LO QUE SE PROPONE AUTORIZO</p>
<p></p>
<p style="text-align:justify">EL DIRECTOR GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN</p>
</div>
</body>
</html>
