<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Convocatoria de reunión</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="header">
<meta name="documentate-crest" content="1">
<meta name="documentate-margins" content="55 15 22.5 30">
<meta name="documentate-first-page-margins" content="55 22.5 22.5 22.5">
<meta name="documentate-font-size" content="12">
</head>
<body>
<div style="line-height:20.7pt">
<p style="text-align:center">Convocatoria de reunión [motivo_reunion]</p>
<p></p>
<p>Estimado Director, estimada Directora,</p>
<p></p>
<p style="text-align:justify">Desde el [area] de la Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación, se convoca a [convocado;ope=utf8,upperw] de su Centro, a la reunión <strong>[tipo_reunion]</strong> que tendrá lugar en la siguiente fecha y horario:</p>
<p></p>
<blockquote><strong>Lugar: [lugar]<br>Día: [dia]<br>Horario: [horario]</strong></blockquote>
<p></p>
<p>Con el siguiente <strong>orden del día</strong>:</p>
<div>[orden_del_dia;strconv=no]</div>
<p></p>
<p>Se ruega trasladar esta información a las personas interesadas.</p>
<p></p>
<p>Agradeciendo su colaboración, reciba un saludo.</p>
<p></p>
<p></p>
<p><strong>EL RESPONSABLE DEL SERVICIO DE ORDENACIÓN DE LAS ENSEÑANZAS Y EDUCACIÓN DE PERSONAS ADULTAS</strong></p>
</div>
</body>
</html>
