<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Certificado «hace constar»</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="footer">
<meta name="documentate-crest" content="1">
<meta name="documentate-margins" content="52 20 43 20">
<meta name="documentate-font-size" content="11">
</head>
<body>
<p style="text-align:center"><strong>[firmante;ope=utf8,upper], [cargo],</strong></p>
<p></p>
<p style="text-align:justify"><strong>HACE CONSTAR</strong> que según los datos que obran en esta Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación, [tratamiento] <strong>[nombre_completo;ope=utf8,upper]</strong> con DNI n.º <strong>[dni]</strong>, ha participado en:</p>
<p></p>
<div>[participaciones;strconv=no]</div>
<p></p>
<p></p>
<p style="text-align:center">Y para que conste, firmo la presente.</p>
<p></p>
<p style="text-align:center">En [lugar_firma], a la fecha de la firma electrónica</p>
</body>
</html>
