<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Invitación a una jornada</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="header">
<meta name="documentate-crest" content="1">
<meta name="documentate-margins" content="55 15 22.5 30">
<meta name="documentate-first-page-margins" content="55 22.5 22.5 22.5">
<meta name="documentate-font-size" content="12">
</head>
<body>
<div style="line-height:16.5pt">
<p>DESTINATARIO/A: [destinatario]</p>
<p><strong>ASUNTO: INVITACIÓN [evento;ope=utf8,upper]</strong></p>
<p></p>
<p style="text-align:justify">Por la presente se invita a [invitado] a [evento], que organiza la Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación. Este evento tendrá lugar [fecha_lugar].</p>
<p></p>
<p style="text-align:justify">[presentacion]</p>
<p></p>
<table>
<col width="100%">
<tr>
<td><strong>[evento]</strong><br>[lugar]<br><br><strong>Fecha:</strong><br>[fecha]<br><br><strong>Horario:</strong><br>[horario]<br><br><strong>Programa:</strong> [programa]<br><br><strong>Información:</strong><br>[informacion]</td>
</tr>
</table>
</div>
</body>
</html>
