<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Libramiento a CEP</title>
<meta name="documentate-letterhead" content="resolution">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="header">
<meta name="documentate-crest" content="1">
<meta name="documentate-margins" content="52 20 43 20">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p style="text-align:justify"><strong>PROPUESTA- RESOLUCIÓN DE LA DIRECCIÓN GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN [post_title;ope=utf8,upper]</strong></p>
<p></p>
<p style="text-align:justify">Atendiendo a la información que obra en el [area], del Servicio de Ordenación de las Enseñanzas, de la Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación, y de acuerdo con los siguientes:</p>
<p></p>
<div style="text-align:justify">[antecedentes;strconv=no]</div>
<p></p>
<p style="text-align:center"><strong>FUNDAMENTOS DE DERECHO</strong></p>
<p></p>
<div style="text-align:justify">[fundamentos;strconv=no]</div>
<p></p>
<p style="text-align:justify">En virtud de lo expuesto anteriormente y conforme a la competencia señalada en el artículo 17.2 j) del Decreto 84/2024, de 10 de junio, por el que se aprueba el Reglamento Orgánico de la Consejería de Educación, Formación Profesional, Actividad Física y Deportes,</p>
<p></p>
<p style="text-align:center"><strong>PROPUESTA DE RESOLUCIÓN</strong></p>
<p></p>
<div style="text-align:justify">[propuesta;strconv=no]</div>
<p></p>
<p style="text-align:justify">Contra la presente resolución, que no pone fin a la vía administrativa, se podrá interponer recurso de alzada ante la Viceconsejería de Educación, en el plazo de un mes a partir del día siguiente al de su notificación, de conformidad con lo dispuesto en los artículos 121 y 122 de la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas.</p>
<p></p>
<p>PROPONGO</p>
<p style="text-align:justify"><strong>EL RESPONSABLE DEL SERVICIO DE ORDENACIÓN DE LAS ENSEÑANZAS Y EDUCACIÓN DE PERSONAS ADULTAS</strong></p>
<p></p>
<p style="text-align:justify">_________________________________________________________________</p>
<p></p>
<p>CONFORME CON LO QUE SE PROPONE, RESUELVO</p>
<p style="text-align:justify">EL DIRECTOR GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN</p>
<p class="page-break" style="text-align:center"><strong>Anexo I</strong></p>
<p style="text-align:center"><strong>PROVINCIA DE LAS PALMAS</strong></p>
<p></p>
<table>
<col width="56%"><col width="22%"><col width="22%">
<tr>
<td style="text-align:center"><strong>CENTRO</strong></td>
<td style="text-align:center"><strong>CÓDIGO</strong></td>
<td style="text-align:center"><strong>IMPORTE</strong></td>
</tr>
<tr>
<td>[centros_lp.nombre;block=tr]</td>
<td style="text-align:center">[centros_lp.codigo]</td>
<td style="text-align:right">[centros_lp.importe;frm='0.000,00 €']</td>
</tr>
<tr>
<td></td>
<td style="text-align:center"><strong>TOTAL</strong></td>
<td style="text-align:right"><strong>[total_lp;frm='0.000,00 €']</strong></td>
</tr>
</table>
<p class="page-break" style="text-align:center"><strong>Anexo II</strong></p>
<p style="text-align:center"><strong>PROVINCIA DE SANTA CRUZ DE TENERIFE</strong></p>
<p></p>
<table>
<col width="56%"><col width="22%"><col width="22%">
<tr>
<td style="text-align:center"><strong>CENTRO</strong></td>
<td style="text-align:center"><strong>CÓDIGO</strong></td>
<td style="text-align:center"><strong>IMPORTE</strong></td>
</tr>
<tr>
<td>[centros_sc.nombre;block=tr]</td>
<td style="text-align:center">[centros_sc.codigo]</td>
<td style="text-align:right">[centros_sc.importe;frm='0.000,00 €']</td>
</tr>
<tr>
<td></td>
<td style="text-align:center"><strong>TOTAL</strong></td>
<td style="text-align:right"><strong>[total_sc;frm='0.000,00 €']</strong></td>
</tr>
</table>
</div>
</body>
</html>
