<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Memoria justificativa de pago</title>
<meta name="documentate-letterhead" content="none">
<meta name="documentate-addresses" content="none">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="0">
<meta name="documentate-margins" content="25.4 25.4 25.4 25.4">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:11.4pt">
<img src="membrete.png" width="93.5">
<p></p>
<p style="text-align:justify;line-height:12.05pt"><strong>MEMORIA JUSTIFICATIVA DE LA DIRECCIÓN GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN PARA EL [cep;ope=utf8,upper], DESTINADA A ORDENAR EL PAGO [concepto;ope=utf8,upper]</strong></p>
<p></p>
<p style="text-align:justify">La Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación, de la Consejería de Educación, Formación Profesional, Actividad Física y Deportes, viene impulsando procesos de innovación del sistema educativo mediante la implementación de acciones, programas y proyectos que fomenten la calidad de la enseñanza y la mejora de los aprendizajes.</p>
<p></p>
<p style="text-align:justify">[parrafo_jornadas]</p>
<p></p>
<p style="text-align:justify">Según consta en la resolución nº [resolucion_num] del [resolucion_fecha], por la que se asigna una dotación económica extraordinaria, y se autoriza el correspondiente libramiento extraordinario de fondos, destinados a sufragar los gastos derivados del desarrollo e implementación de proyectos, programas y planes que se impulsen desde la Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación durante el ejercicio [year], se considera justificado este gasto y, por lo tanto, se informa favorablemente la realización del pago de las facturas que se relaciona a continuación:</p>
<p></p>
<table style="line-height:11.55pt">
<col width="28%"><col width="25%"><col width="23.5%"><col width="23.5%">
<tr>
<td style="text-align:center"><strong>[persona]</strong></td>
<td style="text-align:center"><strong>CONCEPTO</strong></td>
<td style="text-align:center;line-height:10.4pt"><strong>NºFACTURA</strong></td>
<td style="text-align:center;line-height:10.4pt"><strong>IMPORTE</strong></td>
</tr>
<tr>
<td style="text-align:center">[items.nombre;block=tr]</td>
<td style="text-align:center">[items.concepto]</td>
<td style="text-align:center;line-height:10.4pt">[items.num_factura]</td>
<td style="text-align:center;line-height:10.4pt">[items.importe] €</td>
</tr>
</table>
<p></p>
<p></p>
<p><strong>EL DIRECTOR GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN</strong></p>
</div>
</body>
</html>
