<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Memoria previa de resolución</title>
<meta name="documentate-letterhead" content="resolution">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="1">
<meta name="documentate-margins" content="52 20 43 20">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p style="text-align:justify"><strong>MEMORIA PROPUESTA DEL SERVICIO DE ORDENACIÓN DE LAS ENSEÑANZAS Y EDUCACIÓN DE PERSONAS ADULTAS PARA LA TRAMITACIÓN Y APROBACIÓN DEL PROYECTO DE RESOLUCIÓN DE LA DIRECCIÓN GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN, [post_title;ope=utf8,upper]</strong></p>
<p></p>
<div style="text-align:justify">[memoria;strconv=no]</div>
<p></p>
<p style="text-align:justify">En virtud de todo lo anteriormente expuesto y en el ejercicio de las competencias atribuidas a los jefes o jefas de servicio en el artículo 27 del Decreto 212/1991, de 11 de septiembre, de organización de los departamentos de la Administración de la Comunidad Autónoma de Canarias, así como las atribuidas a la Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación en el artículo 17 del Decreto 84/2024, de 10 de junio, por el que se aprueba el Reglamento Orgánico de la Consejería de Educación, Formación Profesional, Actividad Física y Deportes, se informa y propone al Director General de Ordenación de las Enseñanzas, Inclusión e Innovación para su toma en consideración y aprobación, si procede.</p>
<p></p>
<p style="text-align:justify"><strong>EL RESPONSABLE DEL SERVICIO DE ORDENACIÓN DE LAS ENSEÑANZAS Y EDUCACIÓN DE PERSONAS ADULTAS</strong></p>
</div>
</body>
</html>
