<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Resolución</title>
<meta name="documentate-letterhead" content="resolution">
<meta name="documentate-addresses" content="band">
<meta name="documentate-folio" content="header">
<meta name="documentate-crest" content="1">
<meta name="documentate-margins" content="52 20 43 20">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p style="text-align:justify"><strong>[post_title;ope=utf8,upper]</strong></p>
<p></p>
<p style="text-align:justify">[objeto]</p>
<p></p>
<p style="text-align:center"><strong>ANTECEDENTES DE HECHO</strong></p>
<p></p>
<div style="text-align:justify">[antecedentes;strconv=no]</div>
<p></p>
<p style="text-align:justify">A estos hechos les son de aplicación los siguientes</p>
<p></p>
<p style="text-align:center"><strong>FUNDAMENTOS DE DERECHO</strong></p>
<p></p>
<div style="text-align:justify">[fundamentos;strconv=no]</div>
<p></p>
<p style="text-align:justify">En virtud de lo expuesto anteriormente</p>
<p></p>
<p style="text-align:center"><strong>RESUELVO</strong></p>
<p></p>
<div style="text-align:justify">[resuelvo;strconv=no]</div>
<p></p>
<p style="text-align:justify"><strong>EL DIRECTOR GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN</strong></p>
[anexos;block=begin]
<p class="page-break" style="text-align:center"><strong>[anexos.code]</strong></p>
<p></p>
<p style="text-align:center"><strong>[anexos.title]</strong></p>
<p></p>
<div style="text-align:justify">[anexos.summary;strconv=no]</div>
[anexos;block=end]
</div>
</body>
</html>
