<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Respuesta a pregunta parlamentaria</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="none">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="0">
<meta name="documentate-margins" content="25 25 25 25">
<meta name="documentate-first-page-margins" content="47 25 25 25">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p style="text-align:center"><strong>RESPUESTA A PREGUNTAS PARLAMENTARIAS</strong></p>
<p></p>
<table>
<col width="22%"><col width="78%">
<tr>
<td><strong>ÁREA</strong></td>
<td>[area]</td>
</tr>
<tr>
<td><strong>FECHA</strong></td>
<td>[fecha;frm='dd/mm/yyyy']</td>
</tr>
</table>
<p></p>
<table>
<col width="22%"><col width="78%">
<tr>
<td><strong>N.º POC</strong></td>
<td>[numero_poc]</td>
</tr>
<tr>
<td><strong>PREGUNTA</strong></td>
<td>[pregunta;strconv=no]</td>
</tr>
</table>
<p></p>
<p><strong>Respuesta:</strong></p>
<p></p>
<div style="text-align:justify">[respuesta;strconv=no]</div>
</div>
</body>
</html>
