<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Respuesta a un escrito</title>
<meta name="documentate-letterhead" content="large">
<meta name="documentate-addresses" content="footer">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="0">
<meta name="documentate-margins" content="29 20 72 20">
<meta name="documentate-first-page-margins" content="55 20 72 20">
<meta name="documentate-font-size" content="12">
</head>
<body>
<div style="line-height:15.85pt">
<p></p>
<p></p>
<p style="text-align:right">DESTINATARIO/A: [destinatario] [destinatario_email]</p>
<p></p>
<p style="text-align:justify"><strong>Asunto: [asunto].</strong></p>
<p style="text-align:justify">En relación a su solicitud con número de registro de entrada <strong>[numero_solicitud]</strong> en esta Dirección General de Ordenación de las Enseñanzas, Inclusión e Innovación, [respuesta]</p>
<p style="text-align:justify"><strong>[firma_cargo]</strong></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>
</body>
</html>
