<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Solicitud de desplazamiento (externo)</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="none">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="0">
<meta name="documentate-margins" content="25 20 25 20">
<meta name="documentate-first-page-margins" content="47 20 25 20">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p style="text-align:center"><strong><u>SOLICITUD DE DESPLAZAMIENTO (personal externo)</u></strong></p>
<p></p>
<table>
<col width="34%"><col width="66%">
<tr>
<td colspan="2"><strong>DIRECCIÓN GENERAL DE ORDENACIÓN DE LAS ENSEÑANZAS, INCLUSIÓN E INNOVACIÓN</strong></td>
</tr>
<tr>
<td><strong>Servicio:</strong></td>
<td>[servicio]</td>
</tr>
<tr>
<td><strong>Área:</strong></td>
<td>[area]</td>
</tr>
<tr>
<td><strong>Nombre coordinador/a</strong></td>
<td>[coordinador]</td>
</tr>
<tr>
<td><strong>Mail Coordinador/a:</strong></td>
<td>[coordinador_correo]</td>
</tr>
<tr>
<td><strong>Teléfono Coordinador/a:</strong></td>
<td>[coordinador_telefono]</td>
</tr>
<tr>
<td><strong>Acción/evento:</strong></td>
<td>[accion]</td>
</tr>
<tr>
<td><strong>Horario efectivo de la acción/evento</strong></td>
<td>[horario]</td>
</tr>
</table>
<p></p>
<div>
<table>
<col width="26%"><col width="24%"><col width="26%"><col width="24%">
<tr>
<td colspan="4"><strong>Nº [personas.#;block=div]</strong></td>
</tr>
<tr>
<td><strong>Apellidos y nombre</strong></td>
<td colspan="3">[personas.nombre]</td>
</tr>
<tr>
<td><strong>NIF</strong></td>
<td>[personas.nif]</td>
<td><strong>Teléfono particular</strong></td>
<td>[personas.telefono]</td>
</tr>
<tr>
<td><strong>Municipio</strong></td>
<td colspan="3">[personas.municipio]</td>
</tr>
<tr>
<td colspan="2"><strong>Correo electrónico para enviar el localizador:</strong></td>
<td colspan="2">[personas.correo]</td>
</tr>
</table>
<table>
<col width="20%"><col width="20%"><col width="14%"><col width="23%"><col width="23%">
<tr>
<td><strong>Billete de Ida</strong></td>
<td style="text-align:center"><strong>Día</strong></td>
<td style="text-align:center"><strong>Hora</strong></td>
<td style="text-align:center"><strong>Desde</strong></td>
<td style="text-align:center"><strong>Hasta</strong></td>
</tr>
<tr>
<td></td>
<td style="text-align:center">[personas.ida_dia;frm='dd/mm/yyyy']</td>
<td style="text-align:center">[personas.ida_hora]</td>
<td style="text-align:center">[personas.ida_desde]</td>
<td style="text-align:center">[personas.ida_hasta]</td>
</tr>
<tr>
<td><strong>Billete Vuelta</strong></td>
<td style="text-align:center"><strong>Día</strong></td>
<td style="text-align:center"><strong>Hora</strong></td>
<td style="text-align:center"><strong>Desde</strong></td>
<td style="text-align:center"><strong>Hasta</strong></td>
</tr>
<tr>
<td></td>
<td style="text-align:center">[personas.vuelta_dia;frm='dd/mm/yyyy']</td>
<td style="text-align:center">[personas.vuelta_hora]</td>
<td style="text-align:center">[personas.vuelta_desde]</td>
<td style="text-align:center">[personas.vuelta_hasta]</td>
</tr>
<tr>
<td><strong>Hotel</strong></td>
<td style="text-align:center">[personas.hotel]</td>
<td><strong>Nombre del hotel</strong></td>
<td colspan="2">[personas.hotel_nombre]</td>
</tr>
<tr>
<td><strong>Observaciones</strong></td>
<td colspan="4">[personas.observaciones]</td>
</tr>
</table>
<p></p>
</div>
</div>
</body>
</html>
