<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Solicitud de desplazamiento (DG)</title>
<meta name="documentate-letterhead" content="standard">
<meta name="documentate-addresses" content="none">
<meta name="documentate-folio" content="none">
<meta name="documentate-crest" content="0">
<meta name="documentate-margins" content="25 25 25 25">
<meta name="documentate-first-page-margins" content="47 25 25 25">
<meta name="documentate-font-size" content="11">
</head>
<body>
<div style="line-height:14.5pt">
<p style="text-align:center"><strong><u>SOLICITUD DE MEDIOS DE DESPLAZAMIENTO Y ALOJAMIENTO</u></strong></p>
<p></p>
<table>
<col width="24%"><col width="30%"><col width="21%"><col width="25%">
<tr>
<td><strong>Apellidos y nombre</strong></td>
<td colspan="3">[solicitante]</td>
</tr>
<tr>
<td><strong>NIF</strong></td>
<td>[nif]</td>
<td><strong>Teléfono particular</strong></td>
<td>[telefono]</td>
</tr>
<tr>
<td><strong>Dirección General</strong></td>
<td>Ordenación de las Enseñanzas, Inclusión e Innovación</td>
<td><strong>Unidad</strong></td>
<td>[unidad]</td>
</tr>
<tr>
<td><strong>Cargo</strong></td>
<td colspan="3">[cargo]</td>
</tr>
<tr>
<td colspan="2"><strong>Correo electrónico para enviar el localizador:</strong></td>
<td colspan="2">[correo_localizador]</td>
</tr>
<tr>
<td colspan="2"><strong>Lugar de empadronamiento</strong></td>
<td colspan="2">[empadronamiento]</td>
</tr>
<tr>
<td colspan="2"><strong>Fecha de nacimiento</strong></td>
<td colspan="2">[fecha_nacimiento;frm='dd/mm/yyyy']</td>
</tr>
</table>
<p></p>
<table>
<col width="20%"><col width="20%"><col width="14%"><col width="23%"><col width="23%">
<tr>
<td><strong>Billete de Ida</strong></td>
<td style="text-align:center"><strong>Día</strong></td>
<td style="text-align:center"><strong>Hora</strong></td>
<td style="text-align:center"><strong>Desde</strong></td>
<td style="text-align:center"><strong>Hasta</strong></td>
</tr>
<tr>
<td></td>
<td style="text-align:center">[ida_dia;frm='dd/mm/yyyy']</td>
<td style="text-align:center">[ida_hora]</td>
<td style="text-align:center">[ida_desde]</td>
<td style="text-align:center">[ida_hasta]</td>
</tr>
<tr>
<td><strong>Billete Vuelta</strong></td>
<td style="text-align:center"><strong>Día</strong></td>
<td style="text-align:center"><strong>Hora</strong></td>
<td style="text-align:center"><strong>Desde</strong></td>
<td style="text-align:center"><strong>Hasta</strong></td>
</tr>
<tr>
<td></td>
<td style="text-align:center">[vuelta_dia;frm='dd/mm/yyyy']</td>
<td style="text-align:center">[vuelta_hora]</td>
<td style="text-align:center">[vuelta_desde]</td>
<td style="text-align:center">[vuelta_hasta]</td>
</tr>
</table>
<p></p>
<table>
<col width="21%"><col width="8%"><col width="24%"><col width="14%"><col width="19%"><col width="14%">
<tr>
<td><strong>Coche de alquiler</strong></td>
<td style="text-align:center">[coche]</td>
<td><strong>Día hora recogida</strong></td>
<td>[coche_recogida]</td>
<td><strong>Día/hora devol</strong></td>
<td>[coche_devolucion]</td>
</tr>
<tr>
<td><strong>Hotel</strong></td>
<td style="text-align:center">[hotel]</td>
<td><strong>Nombre Hotel</strong></td>
<td colspan="3">[hotel_nombre]</td>
</tr>
</table>
<p></p>
<table>
<col width="30%"><col width="70%">
<tr>
<td><strong>Motivo del desplazamiento</strong></td>
<td>[motivo;strconv=no]</td>
</tr>
</table>
<p></p>
<p style="text-align:justify">Recordar que es el solicitante del desplazamiento quien debe hacer la solicitud de coche compartido en: Parque Móvil - Consejería de Hacienda</p>
</div>
</body>
</html>
